* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(40, 40, 40);
    background-size: cover;
}

.navbar{
    background-color: black;
}

.button{
    padding: 4px 8px;
    margin: 5px 5px;
    border-radius: 5px;
    background-color: red;
    color: white;
    text-decoration: none;
    float:right;
}

.form{
    
    color: white;
}

.form h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0px;
}

.form p{
    font-size: 20px;
    margin: 15px 0px;
}

.input{
    font-size: 16px;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    border-radius: 5px;
}

.books{
    display: flex;
}

.box{
    display: flex;
}

.image{
    width: 100%;
    height: auto;
}

.img{
    width: 200%;
    height: auto;
}

.text{
    color: white;
    float: left;
    padding: 20px;
}

.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    color: rgb(4, 178, 247);
}

.button:hover,.b:hover{
    color: black;
}
.b{
    padding: 4px 8px;
    margin: 5px 5px;
    border-radius: 5px;
    background-color: red;
    color: white;
    text-decoration: none;
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
  text-decoration:none;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
